<li>
  <h3>Previous Result:</h3>


  <h1>Your word(s): <%= @word %></h1>
  <h1>Your translation: <%= @translation %></h1>


  <img class="img-style" src="<%= @giphy %>" alt="" width="260" height="260" class="alignleft border" />



</li>
