<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
</head>
<body>
<h2 align="center"> Passion Project </h2>
<h1 align="center"> Giphy Translator </h1>
<div id="wrapper">
  <div id="banner" class="container"><img src="https://www.translatemedia.com/wp-content/uploads/2011/12/translate21.jpg" width="1000" height="300" alt="" /></div>
  <div id="page" class="container">
    <div id="content">
      <div id="box1">
        <h2 class="title">Welcome!</h2>
        <p>   The giphy translator will translate your words or sentences from one language to another and also provide you with a giphy based off of that translation! Have fun!
        </p>
      </div>
      <div>
        <ul class="style1">
          <li class="first">

              <h3><em><img src="http://www.ngtranslation-traduction.co.za/wp-content/uploads/2016/06/Funny-Translation-Image.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Translate ANYTHING!</h3>

              <form id="translate" method='post' action='/translation/new'>

              Your Language:
              <select name="input">
                <% @languages.each do |abbrv,language| %>
              <option value=<%= abbrv %>><%= language %></option>
              <% end %>
              </select>
              <br>
              <br>
              Translate To:
              <select name="output">
                <% @languages.each do |abbrv,language| %>
              <option value=<%= abbrv %>><%= language %></option>
              <% end %>
              </select>
              <br>
              <br>
              <input id='word' type="text" name="word">
              <button type="submit">Create Translation</button>
              </form>

          </li>
        </ul>
        <ul id="body-list" class="style1">
        </ul>
      </div>
    </div>


  </div>
</body>
</html>

